p {
font-size: 30px;
color: brown;
font-weight: 900;
text-align: center;
text-decoration: underline;
font-style: normal;
font-family: monospace;
border: 2px solid;
border-radius: 5px;
border-color: black;
margin: 30px;
padding: 50px;
}
.text1{
    background-color: rgb(0, 255, 255);
    border: 2px;
    border-radius: 5px;
    border-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
span{
    font-style: italic;
}